.first{
	text-align: center;
	font-size: 40px;
	color:white;
	text-shadow:-5px -5px 3px black;
}

.second{
	color:white;
	width: 280px;
	height: 260px;
	border:2px; 
	border-style: dotted;
	font-size: 12px;
	margin: 10% 75%; 
	background-color:transparent;

}
.shadow{
text-shadow:-5px -5px 3px black;
text-align:center;	
}
.one{
	width:280px;
	height: 20px;
	margin:0px 140px; 
}


.third{
	text-align:right;
	color:blue;
	background-color:white;
	margin:100px auto;

}